main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

h2 {
  color: white;
  text-align: center;
}

body {
  background-image: url(maxresdefault.jpg);
  background-position: cover;
  background-size: 100%;
  background-attachment: fixed;
}

.login_box{
  margin-left: 30%;
  margin-right: 30%;
  border: solid thin white;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
  max-width: 40%;
}

.register_box{
  margin-left: 30%;
  margin-right: 30%;
  border: solid thin white;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
  max-width: 40%;
}

.profile_card {
  border: solid thin white;
  border-radius: 10px;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
  height: 200px;
  width: 280px;
}

.profile_cards {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.upd_img {
    max-width: 30%;
}

.upd_card {
  max-width: 50%;
}

.upd_details {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-evenly;
}

.profile_details {
  border: solid thin white;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
}

.navbar {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.788) !important;
}

.nav-link{
  color: rgb(160, 160, 160) !important;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: white !important;
}
.navbar-brand {
  color: white !important;
}