main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}


.tagHeader {
  color: white;
}

.tagStyleCard {
  background-color: rgb(106, 137, 240);
  width: 220px;
  border-radius: 5%;
  height: 220px;
  text-align: center;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
